.container__product-block {
  display: flex;
  max-width: 1200px;
  margin: 80px auto 0;
  justify-content: space-between; }
  .container__product-block .product-block__container__image-block {
    position: relative;
    height: 500px;
    width: 560px; }
    .container__product-block .product-block__container__image-block .image-block__inner-block {
      position: absolute;
      padding: 0 0 85% 0;
      height: inherit;
      width: inherit; }
  .container__product-block .product-block__container__description-block {
    width: 100%;
    max-width: 600px; }
    .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description {
      height: 156px;
      padding-top: 20px; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__header-text {
        line-height: 1.35;
        font-family: "Kurale";
        font-size: 20px;
        font-weight: 700;
        color: #000000; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__description-text {
        margin-top: 8px;
        font-family: "Kurale";
        font-size: 14px;
        font-weight: 300;
        color: #000000; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__price-wrapper {
        margin-top: 12px; }
        .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__price-wrapper .card__price-text {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          font-family: "Kurale";
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          line-height: 1.35;
          text-align: left; }
          .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__price-wrapper .card__price-text .product__price {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap; }
          .container__product-block .product-block__container__description-block .description-block__inner-block .product__card-description .card__price-wrapper .card__price-text .price__currency {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap; }
    .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .basket__btn {
      color: #ffffff;
      background-color: #469ca2;
      border-radius: 15px;
      text-decoration: none;
      display: flex;
      margin: 0 4px 8px 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: center;
      max-width: 100%;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      height: 45px;
      padding-left: 30px;
      border: 0 none;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      padding-right: 30px;
      font-family: "Kurale";
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      user-select: none;
      background-image: none;
      cursor: pointer; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .basket__btn .card__btn-text {
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis; }
    .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity {
      border-radius: 15px;
      margin-left: 0 !important;
      margin-right: 4px !important;
      display: inline-flex;
      align-items: center;
      vertical-align: top;
      margin: 0 4px 8px 0;
      height: 45px;
      background-color: #fff;
      font-family: "Kurale";
      font-size: 14px;
      font-weight: 100;
      color: #000; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity .quantity__minus-wrapper {
        min-width: 25px;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        cursor: pointer; }
        .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity .quantity__minus-wrapper .prod__quantity__minus {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: 50% 1px, 1px 50% !important;
          background-repeat: no-repeat;
          border-radius: 50px;
          background: transparent; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity .prod__quantity-input {
        appearance: textfield;
        font-family: "Kurale";
        font-size: 14px;
        font-weight: 300;
        color: #000;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 0;
        vertical-align: top;
        border: none;
        background-color: transparent;
        line-height: 1.55; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity .prod__quantity__plus-wrapper {
        min-width: 25px;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        cursor: pointer; }
        .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .product__quantity .prod__quantity__plus-wrapper .prod__quantity__plus {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: 50% 1px, 1px 50%;
          background-repeat: no-repeat;
          border-radius: 50px;
          font-family: "Kurale";
          font-size: 14px;
          font-weight: 300;
          color: #000;
          background: transparent; }
    .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .prod__basket-btn {
      color: #ffffff;
      background-color: #469ca2;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      text-decoration: none;
      display: inline-flex;
      width: unset;
      margin: 0 4px 8px 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: center;
      max-width: 100%;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      height: 45px;
      font-size: 14px;
      padding-left: 30px;
      padding-right: 30px;
      border: 0 none;
      font-family: "Kurale";
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 700;
      background-image: none;
      cursor: pointer;
      user-select: none; }
      .container__product-block .product-block__container__description-block .description-block__inner-block .card__basket-wrapper .prod__basket-btn .card__btn-text {
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis; }
